div {
    width: 50%;
    height: 100px;
    float: left;
    text-align: center;
    height: 100px;
}

div:nth-child(1) {
    background-color: pink;
}

div:nth-child(2) {
    background-color: purple;
    height: 1rem;
}