    body {
        max-width: 640px;
        min-width: 320px;
        margin: 0 auto;
        font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
        color: #000;
        background: #f2f2f2;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
        /* height: 2000px; */
    }
    
    li {
        list-style: none;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    div {
        box-sizing: border-box;
    }
    
    .search-index {
        position: fixed;
        display: flex;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        height: 44px;
        min-width: 320px;
        max-width: 640px;
        background-color: #f6f6f6;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    
    .search {
        border: 1px solid #ccc;
        height: 26px;
        margin: 10px 10px;
        border-radius: 5px;
        line-height: 24px;
        /* text-align: center; */
        flex: 1;
        color: #666666;
        padding-left: 25px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    }
    
    .search::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        height: 15px;
        width: 15px;
        background: url(../img/sprite.png) no-repeat -59px -279px;
        background-size: 104px auto;
    }
    
    .user {
        display: block;
        width: 44px;
        height: 44px;
        color: royalblue;
        text-align: center;
        font-size: 12px;
    }
    
    .user::before {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background: url(../img/sprite.png) no-repeat -59px -194px;
        background-size: 104px auto;
        margin: 2px auto 0;
    }
    
    .focus {
        position: relative;
        margin-top: 45px;
        overflow: hidden;
    }
    
    .focus ul {
        width: 500%;
        margin-left: -100%;
    }
    
    .focus ul li {
        float: left;
        width: 20%;
    }
    
    .goBack {
        display: block;
        position: fixed;
        bottom: 50px;
        right: 20px;
        width: 38px;
        height: 38px;
        background: url(../img/back.png) no-repeat;
        background-size: 38px 38px;
    }
    
    .focus ol {
        position: absolute;
        right: 10px;
        bottom: 10px;
        margin: 0;
    }
    
    .focus ol li.current {
        width: 20px;
    }
    
    .focus ol li {
        margin-left: 10px;
        width: 10px;
        height: 10px;
        /* border-radius: 50%; */
        list-style: none;
        background-color: #fff;
        float: left;
        transition: all .4s;
    }
    
    .focus img {
        width: 100%;
    }
    /* local-nav */
    
    .local-nav {
        display: flex;
        width: 100%;
        height: 64px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 2px 0px;
    }
    
    .local-nav li {
        flex: 1;
    }
    
    .local-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .local-nav li [class^="local-nav-icon"] {
        display: block;
        width: 32px;
        height: 32px;
        background-color: pink;
        margin-top: 8px;
        background: url(../img/localnav_bg.png) no-repeat 0 0;
        background-size: 32px auto;
    }
    
    .local-nav a span:nth-child(2) {
        font-size: 12px;
        color: #222222;
    }
    
    .local-nav li .local-nav-icon2 {
        background: url(../img/localnav_bg.png) no-repeat 0 -32px;
        background-size: 32px auto;
    }
    
    .local-nav li .local-nav-icon3 {
        background: url(../img/localnav_bg.png) no-repeat 0 -64px;
        background-size: 32px auto;
    }
    
    .local-nav li .local-nav-icon4 {
        background: url(../img/localnav_bg.png) no-repeat 0 -96px;
        background-size: 32px auto;
    }
    
    .local-nav li .local-nav-icon5 {
        background: url(../img/localnav_bg.png) no-repeat 0 -128px;
        background-size: 32px auto;
    }
    /* nav */
    
    .nav-common {
        display: flex;
        width: 100%;
        height: 88px;
        border-radius: 8px;
        background: -webkit-linear-gradient(top left, #1bf79b, #09e063);
    }
    
    .nav-common:nth-child(2) {
        margin: 3px 0;
    }
    
    .nav-items {
        flex: 1;
        text-align: center;
        color: #fff;
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    
    .nav-items:nth-child(1) {
        line-height: 44px;
        background: url(../img//hotel.png) no-repeat bottom center;
        background-size: 121px auto;
    }
    
    .nav-common:nth-child(2) {
        background: -webkit-linear-gradient(top left, blue, #ac83f8);
    }
    
    .nav-common:nth-child(3) {
        background: -webkit-linear-gradient(top left, rgb(160, 218, 86), #e2500c);
    }
    
    .nav-items a {
        flex: 1;
        line-height: 44px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, .2);
    }
    
    .nav-items a:nth-child(1) {
        border-bottom: 1px solid #fff;
    }
    
    .nav-items:nth-child(-n+2) {
        border-right: 1px solid #fff;
    }
    /* 侧导航栏 */
    
    .subnav-entry {
        margin-top: 3px;
        padding-top: 5px;
        display: flex;
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden;
        flex-wrap: wrap;
    }
    
    .subnav-entry li {
        flex: 20%;
        margin: 3px 0;
    }
    
    .subnav-entry span {
        display: flex;
    }
    
    .subnav-entry-icon {
        height: 28px;
        width: 28px;
        background-color: black;
        background: url(../img/subnav-bg.png) no-repeat;
        background-size: 28px auto;
    }
    
    .sales-box {
        border-top: 1px solid #bbb;
        background-color: #fff;
        margin: 4px;
    }
    
    .sales-hd {
        position: relative;
        height: 44px;
        border-bottom: 1px solid #ccc;
    }
    
    .sales-hd h2 {
        position: relative;
        text-indent: -999px;
        overflow: hidden;
    }
    
    .sales-hd h2::after {
        position: absolute;
        top: 5px;
        left: 8px;
        content: "";
        width: 79px;
        height: 15px;
        background: url(../images/hot.png) no-repeat 0 -20px;
        background-size: 79px auto;
    }
    
    .more {
        position: absolute;
        right: 5px;
        top: 0px;
        background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
        border-radius: 15px;
        padding: 3px 20px 3px 10px;
        color: #fff;
    }
    
    .more::after {
        content: "";
        position: absolute;
        top: 9px;
        right: 9px;
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
    }
    
    .row {
        display: flex;
    }
    
    .row a {
        flex: 1;
        border-bottom: 1px solid #eee;
    }
    
    .row a:nth-child(1) {
        border-right: 1px solid #eee;
    }
    
    .row a img {
        width: 100%;
    }